{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    New
{% endblock title %}

{% block content %}
    <div style="display: flex">
        <div style="flex-basis: 90%">
            <h2>{{ post.title|censor }}</h2>
            <hr>
            <h3><i>{{ post.author }} | {{ post.create_data|date:"d-m-Y P" }}</i></h3>
            <p style="text-align: justify">{{ post.content|censor }}</p>
            <h2>Are you shure want to delet this post?</h2>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Delet</button>
            </form>
        </div>
        <div style="flex-basis: 10%">
            <a href="/.." class="btn btn-secondary" style="margin-bottom: 3%">All news</a>
            <a href="../{{ post.id }}" class="btn btn-secondary" style="margin-bottom: 3%">Back</a>
            {% if request.user.username %}
                <a href="/news/accounts/logout" class="btn btn-secondary">Log out</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
